-
	var links = {
		live: "live",
		premium: 'https://itmeo.com/brut-premium-wordpress-theme#purchase',
		purchase: '#purchase',
		faq: "faq",
		license: "license",
		behance: "https://www.behance.net/itmeo",
		twitter: "https://twitter.com/itmeohq",
		facebook: "https://www.facebook.com/itmeohq"
	}