.button {
	@include clear_link;

	display: inline-block;

	min-width: 213px;
	padding: 0 20px;
	height: 53px;
	line-height: 53px;

	border-radius: 3px;

	font-family: $primary_font;
	font-size: 13px;
	letter-spacing: 0.065em;

	cursor: pointer;

	text-align: center;

	transition: all 0.25s ease;

	&:hover, &:focus, &:active, &:visited {
		text-decoration: none;
	}

	&--white{
		background-color: white;
		color: $night;

		&:hover, &:focus, &:active{
			background-color: $night;
			color: white;
		}
	}
	&--black{
		background-color: $night;
		color: white;
		border: 1px solid $night;

		&:hover, &:focus, &:active{
			background-color: white;
			color: $night;
		}
	}
	&--green{
		background-color: #28ce4f;
		color: white;

		&:hover, &:focus{
			color: white;
			background-color: #119830;
		}
	}
	&--cream-shadow{
		box-shadow: 0 8px 40px rgba(188, 203, 222, 0.8);

		&:hover{
			box-shadow: 0 10px 47px rgba(188, 203, 222, 0.9);
		}

		@media (#{$max_phones}){
			box-shadow: 0 4px 20px rgba(250,190,160,0.6);

			&:hover{
				box-shadow: 0 6px 30px rgba(250,190,160,0.8);
			}
		}
	}
	&--cream-border{
		border: 1px solid $cream;

		color: white;

		&:hover, &:focus, &:active{
			background-color: white;
			color: $night;
		}
	}
	&--black-border{
		border: 1px solid $night;

		&:hover, &:focus, &:active{

		}
	}

	@media (#{$min_high}){
		min-width: 300px;
		padding: 0 30px;
		height: 75px;
		line-height: 75px;

		border-radius: 3px;

		font-size: 20px;
	}
	@media (#{$max_phones}){
		border-radius: 2px;
	}
}